@charset "windows-1256";


.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  border-radius: 5px;  
  background: #c0c0c0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #ff8040;
  cursor: pointer;
  padding: 0;
}

*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  
}
.content{
  background: #f7f7f7;
  max-width: 400px;
  width: 100%;
  margin: 110px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
input{
  
  border-radius: 3px;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  background: #808080;
  cursor: pointer;
  width: 30%;
  height: 40px; 
  margin-left: 0px;
}




